@use "../layout/util/" as u;

.card {
  max-width: 500px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(250px, auto);
  background-color: var(--clr--white);
  border: none;
  border-radius: 0.7rem;

  &__img {
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__content {
    margin-top: 2rem;
    padding: 0.8rem 1.8rem;

    h2 {
      color: var(--clr--dark-grayish-blue);
      font-weight: var(--fw--very-bold);
      font-size: 1.1rem;
      margin-bottom: 0.7rem;
    }

    p {
      margin-bottom: 1.4rem;
    }
    &_profile {
      position: relative;
      display: flex;
      align-items: center;

      .avatar-img {
        height: 45px;
        width: 45px;
        border-radius: 45px;
      }

      &_info {
        margin-left: 1rem;

        h2 {
          font-size: 0.9rem;
          margin: 0;
        }
        p {
          margin: 0;
        }
      }

      &_share {
        display: grid;
        place-items: center;
        margin-left: auto;
        background-color: var(--clr-light-grayish-blue);
        cursor: pointer;
        height: 45px;
        width: 45px;
        border-radius: 45px;
        font-size: 1.5rem;

        &:hover {
          background-color: var(--clr--dark-grayish-blue);
          color: var(--clr--white);
        }
      }
      .share {
        position: absolute;
        right: 0;
        display: none;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        background-color: var(--clr--dark-grayish-blue);
        width: 230px;
        height: 50px;
        border: none;
        border-radius: 1rem;
        padding: 0 2rem;
        margin-top: -145px;
        margin-right: -93px;
        p {
          font-weight: var(--fw--bold);
          margin: 0;
          text-transform: uppercase;
          font-size: 0.8rem;
          letter-spacing: 5px;
        }

        li {
          cursor: pointer;
        }

        .social-media {
          margin-left: 15px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .triangle {
          position: absolute;
          left: 50%;
          transform: translate(-50%, 0);
          bottom: -15px;
          border-left: 13px solid transparent;
          border-right: 13px solid transparent;
          border-top: 15px solid var(--clr--dark-grayish-blue);
          border-bottom: 40px;
        }
      }
    }
  }

  @include u.breakpoints(medium) {
    grid-template-columns: 40% 60%;
    grid-auto-rows: 1fr;
    max-width: 900px;

    &_img {
      img {
        object-fit: contain;
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 3rem;
      h2 {
        font-size: 1.3rem;
      }
      p {
        font-size: 1rem;
      }

      &_profile {
        margin-top: auto;
        &_info {
          h2 {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
