:root {
  --clr--dark-grayish-blue: hsl(217, 19%, 35%);
  --clr--desaturated-dark-blue: hsl(214, 17%, 51%);
  --clr--grayish-blue: hsl(212, 23%, 69%);
  --clr-light-grayish-blue: hsl(210, 46%, 95%);
}
